.venv/
imagens/
apresentacao_widescreen.pptx
Notas_9ano.xlsx
__pycache__/tratamento_planilha.cpython-312.pyc
dados_turmas/Relatório de Rendimento Escolar_900.xlsx
dados_turmas/Relatório de Rendimento Escolar_901.xlsx
dados_turmas/Relatório de Rendimento Escolar_902.xlsx
